target
backend/target
frontend/target

secrets

scripts/check-build-local.sh

backend/src/main/java/com/leanx/app/service/EmailService.java
backend/src/main/java/com/leanx/app/service/jobs/BackupDatabaseJob.java
backend/src/main/java/com/leanx/app/service/jobs/OffboardingJob.java
backend/src/main/java/com/leanx/app/service/modules/employee/self/TimesheetSelfService.java
backend/src/main/java/com/leanx/app/service/modules/hr/ops/TimesheetService.java

backend/src/main/java/com/leanx/app/security/filters/AuthenticationFilter.java
backend/src/main/java/com/leanx/app/security/filters/AuthorizationFilter.java
backend/src/main/java/com/leanx/app/security/configs/EndpointRolesSecurity.java

backend/src/main/java/com/leanx/app/api/hr/ops/TimesheetController.java
backend/src/main/java/com/leanx/app/api/employee/self/TimesheetSelfController.java
backend/src/main/java/com/leanx/app/api/employee/management/EmployeeController.java

backend/src/main/java/com/leanx/app/api/TestController.java